@font-face {
    font-family: "Norse Bold";
    src: url("/fonts/Norsebold.otf");
}

body {
    display: flex;
    
}
.left-side{
    position: relative;
    display: flex;
    flex-direction: column;
}
.fern {
    position: relative;
}
a {
    color: white;
}
.odinhead{
    font-family: "Norse Bold";
    font-size: 75px;
    display: flex;
    background-color: black;
    opacity: 0.7;
    position: relative;
    max-height: 100px;
    color: white;
    bottom: 350px;
    justify-content: center;
    align-items: center;
}
.odinshead {
    position: relative;
}

.photo {
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 30px;
    color: white;
    font-size: small;
}