@font-face {
    font-family: "Norse Bold";
    src: url("/fonts/Norsebold.otf");
}

body {
    display: flex;
    
}
.left-side{
    position: relative;
    display: flex;
    flex-direction: column;
}
.fern {
    position: relative;
}
a {
    color: white;
}
.odinhead{
    font-family: "Norse Bold";
    font-size: 75px;
    display: flex;
    background-color: black;
    opacity: 0.7;
    position: relative;
    max-height: 100px;
    color: white;
    bottom: 350px;
    justify-content: center;
    align-items: center;
}
.odinshead {
    position: relative;
}

.photo {
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 30px;
    color: white;
    font-size: small;
}

.right-side {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.top-info, .button, .member {
    background-color: rgb(229, 227, 227);
    padding-left: 16px;
}
.form {
    padding-left: 16px;
}
.names, .contact, .passwords {
    display: flex;
    gap: 25px;
    padding-top: 5px;
}
.createAccount {
    background-color: #596d48;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: none;
    
}
.logIn {
    color: #596d48;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px -2px rgb(0,0,0,0.5);
}

legend {
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

label {
    font-size: small;
}

.passwords {
    padding-bottom: 5px;
}
.intro {
    margin-top: 40px;
}
.intro, .secondComment, .button, .member {
    padding-top: 10px;
    padding-bottom: 10px;
}

.firstNames, .lastNames, .emails, .phoneNumbers, .password, .confirmPassword {
    display: flex;
    flex-direction: column;
}

input:user-invalid {
    border-color: red;
}

input:user-valid {
    border-color: green;
}